<h2 class="title">Categories</h2>
<div class="categories">
  <div class="category_container">
    <% @categories.each do |category| %>
      <%= link_to category_expenses_path(category) do %>
        <div class="category">
          <img src="<%= category.icon %>" alt='Category icon'/>
          <div class="category_desc">
            <p><%= category.name %></p>
            <p><%= category.total %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="new_category"><%= link_to "New category", new_category_path %></div>
</div>




