<%= link_to '<', categories_path %>

<div class="header">
  <h1><%= Category.find(params['category_id']).name.upcase %>
    <a href="/groups" class="btn_back"><i class="fa fa-chevron-left"></i></a>
  </h1>
</div>
<div >
  <div class="total">
    <h3> Total Spent Amount: $
      <%=
        @sum = 0
        Expense.where(category_id: params['category_id']).each do |cat|
          @sum += cat.amount
        end
        @sum
      %>
    </h3>
  </div>
  <% @expenses.each do |expense| %>
    <div>
      <p>
        <span><%=expense.name %></span>
        <span><%=expense.updated_at.strftime('%Y-%m-%d') %></span>
      </p>
      <p>
        $<%=expense.amount %>
      </p>
    </div>
  <% end %>
  <%=link_to 'New Expense', new_category_expense_path(@category), class:'btn'%>
</div>