<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/21e8e56563.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="app_layout_header">
        <div class="welcome">
          <% if current_page?(categories_path) %>
            Welcome <%= current_user.name %>!
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to categories_path do %>
              <i class="fa-solid fa-arrow-left"></i>
            <% end %>
            <p><%= '' %></p>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
      <div class="messages">
        <% if notice.to_s != '' %>
          <div class="notice"><%= notice %></div>
        <% end %>
        <% if alert.to_s != '' %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>

